body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #fefcf8;
}

hr {
  border-width: 1px;
  width: 100%;
  text-align: left;
  margin-left: 0
}

a {
  color: dodgerblue;
}

ul {
  margin-top: -15px;
}

p {
  margin-bottom: 1em;
}

/* Mobile first - phones */
.center {
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
  flex-direction: column;
  justify-content: space-around;
  max-width: 650px;
  width: 100%;
}

.card {
  display: flex;
  margin-top: 2%;
  margin-bottom: 4%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile {
  height: auto;
  width: auto;
  max-width: 65%;
  max-height: 50%;
  border-radius: 50%;
}

.contact {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  text-align: center;
}

.blurb {
  margin-bottom: 2em;
}

/* Large screens - side by side layout */
@media only screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    text-align: left;
  }

  .contact {
    text-align: left;
    margin-top: 0;
    flex: 6;
  }

  .profile {
    flex: 3;
  }
}

/* Extra large screens - more margin */
@media only screen and (min-width: 1200px) {
  .center {
    margin-right: 20%;
    margin-left: 20%;
  }
}